.idea/
.vs/
.vscode/
build/
node_modules/
src/config/*.yaml

.env
dotenv
*.proxies
!dotenv-example
dotenv-ps5
dotenv-xbox
dotenv*
success-*.png

*.wav
*.mp3
*.flac
*.exe
*.log
desktop.ini

twitch.json
